{% extends "base.html" %}

{% block content %}
    <form action="" id="coords_form">
        {{ form.hidden_tag() }}
        <p>
            {{ form.start_point.label }}<br>
            {{ form.start_point(size=32) }}
        </p>
        <p>
            {{ form.end_point.label }}<br>
            {{ form.end_point(size=32) }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
    <div id="map" style="height: 100vh;"></div>
    <script src="{{ url_for('static', filename='js/mapCoordinates.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}
