{% extends "base.html" %}

{% block content %}
    <form action="" id="coords_form">
        {{ form.hidden_tag() }}

        <div class="input-with-button">
            <label for="start-address">{{ form.start_point.label }}</label><br>
            {{ form.start_point(size=32, class="address-input", id="start-address") }}
            <button type="button" id="clear_start_button" class="clear-button">x</button>
        </div>
        <div class="address-hints-container">
            <table id="address-hints-start" class="address-suggestions-table"></table>
        </div>
        <div class="input-with-button">
            <label for="end-address">{{ form.end_point.label }}</label><br>
            {{ form.end_point(size=32, class="address-input", id="end-address") }}
            <button type="button" id="clear_end_button" class="clear-button">x</button>
        </div>
        <div class="address-hints-container">
            <table id="address-hints-end" class="address-suggestions-table"></table>
        </div>


        <div class="map-buttons">
            <p><button type="button" id="search_button" class="map-button">Search Stations</button></p>
            <p><button type="button" id="clear_button" class="map-button">Clear</button></p>
        </div>
        <div id="route-info-container" class="route-info-container">
            <div id="route-info" class="route-info"></div>
        </div>
       


    </form>


    <div id="map" style="height: 100vh;"></div>

    <script src="{{ url_for('static', filename='js/functionalities.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Constants.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}
